<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Responsive Image Cards With Hover Effect</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <!-- Image Cards Start Layout -->
    <div class="container">
        <!-- Image Row Start -->
        <div class="row">
            <!-- Image Card Start -->
            <div class="image">
                <img src="/static/img/canada_lake.jpg" alt="">
                <div class="details">
                    <h2>Your <span>Title</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="more">
                        <a href="#" class="read-more">Read <span>More</span></a>
                        <div class="icon-links">
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <a href="#"><i class="fa-solid fa-eye"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Card End -->
             <!-- Image Card Start -->
            <div class="image">
                <img src="/static/img/country_farm_sunrise.jpg" alt="">
                <div class="details">
                    <h2>Your <span>Title</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="more">
                        <a href="#" class="read-more">Read <span>More</span></a>
                        <div class="icon-links">
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <a href="#"><i class="fa-solid fa-eye"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Card End -->
             <!-- Image Card Start -->
            <div class="image">
                <img src="/static/img/summer_sunny.jpg" alt="">
                <div class="details">
                    <h2>Your <span>Title</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="more">
                        <a href="#" class="read-more">Read <span>More</span></a>
                        <div class="icon-links">
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <a href="#"><i class="fa-solid fa-eye"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Card End -->
        </div>
        <!-- Image Row End -->
        <!-- Image Row Start -->
        <div class="row">
            <!-- Image Card Start -->
            <div class="image">
                <img src="/static/img/tree_glass.jpeg" alt="">
                <div class="details">
                    <h2>Your <span>Title</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="more">
                        <a href="#" class="read-more">Read <span>More</span></a>
                        <div class="icon-links">
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <a href="#"><i class="fa-solid fa-eye"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Card End -->
             <!-- Image Card Start -->
            <div class="image">
                <img src="/static/img/tree_in_the_middle.jpg" alt="">
                <div class="details">
                    <h2>Your <span>Title</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="more">
                        <a href="#" class="read-more">Read <span>More</span></a>
                        <div class="icon-links">
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <a href="#"><i class="fa-solid fa-eye"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Card End -->
             <!-- Image Card Start -->
            <div class="image">
                <img src="/static/img/western_lifestyle.jpg" alt="">
                <div class="details">
                    <h2>Your <span>Title</span></h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="more">
                        <a href="#" class="read-more">Read <span>More</span></a>
                        <div class="icon-links">
                            <a href="#"><i class="fa-solid fa-heart"></i></a>
                            <a href="#"><i class="fa-solid fa-eye"></i></a>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Card End -->
        </div>
        <!-- Image Row End -->
    </div>
    <!-- Image Cards End Layout -->
</body>
</html>